@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Dark Mode Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply custom colors to body */
body {
  color: var(--foreground);
  background-color: var(--background); /* Use background-color instead of background */
  font-family: Arial, Helvetica, sans-serif; /* Optional if you want to override Tailwind's default font */
}